/vendor/
/node_modules/
/public/build/
/data/*.sqlite
/data/*.sqlite-*
!/data/.gitkeep
/var/cache/*
/var/log/*
!/var/cache/.gitkeep
!/var/log/.gitkeep
.env
.env.local
config/autoload/*.local.php
.phpunit.result.cache
.pest.result.cache
.php-cs-fixer.cache
/.phpunit.cache/
/coverage/
*.log
.DS_Store
.idea/
